*~
index
log/*
config/database.yml
vendor/rails
tmp/pids/*
tmp/cache/*
tmp/sockets/*
tmp/sessions/*
tmp/.tasks-cache
config/database.yml

db/sphinx
config/development.sphinx.conf
config/test.sphinx.conf
