<tr>
    <% for column in eval(class_name).content_columns %>
    <th><%= column.human_name %></th>
    <% end %>

    <% get_single_associations(class_name).each do |association| %>
    <th><%= association.name.to_s.humanize %></th>
    <% end %>
    
    <% get_multiple_associations(class_name).each do |association| %>
    <th><%= association.name.to_s.humanize %></th>
    <% end %>
</tr>