<%= error_messages_for 'activity_type' %>

<!--[form:activity_type]-->
<p><label for="activity_type_name">Name</label><br/>
<%= text_field 'activity_type', 'name'  %></p>
<!--[eoform:activity_type]-->

