<%= error_messages_for 'contact' %>

<!--[form:contact]-->
<p><label for="contact_first_name">First name</label><br/>
<%= text_field 'contact', 'first_name'  %></p>

<p><label for="contact_last_name">Last name</label><br/>
<%= text_field 'contact', 'last_name'  %></p>

<p><label for="contact_email">Email</label><br/>
<%= text_field 'contact', 'email'  %></p>

<p><label for="contact_phone_number">Phone number</label><br/>
<%= text_field 'contact', 'phone_number'  %></p>
<!--[eoform:contact]-->

