<%= error_messages_for 'activity' %>

<!--[form:activity]-->
<p><label for="activity_occured_at">Occured at</label><br/>
<%= datetime_select 'activity', 'occured_at'  %></p>

<p><label for="activity_description">Description</label><br/>
<%= text_field 'activity', 'description'  %></p>
<!--[eoform:activity]-->

